* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.nav-img img {
  height: 200px;
  width: 100%;
}

.watch-card {
  display: flex;
  padding: 20px;
  justify-content: space-around;
  height: 500px;
}

.card {
  text-align: center;
  background-color: rgb(133, 196, 252);
  height: 300px;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
}

button {
  padding: 10px;
  font-size: 20px;
  margin-top: 30px;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

a {
  text-decoration: none;
  color: black;
}

button:hover {
  background-color: red;
  transform: scaleX(1.1);
}

a:hover {
  color: white;
}

.footer {
  text-align: center;
  height: 100px;
  width: 100%;
  background-color: rgb(255, 202, 202);
}
